.modal-text {
    color: #000 !important;
}

.modal-inputs {
    color: #000 !important;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 100%;

}

/*placeholder*/
.modal-inputs::placeholder {
    color: #000 !important;
}

.modal-inputs option {
    color: #000 !important;
    background-color: #fff !important;
}